<nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow" id="navdash">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/admin">
    <b>MyHotel</b>
  </a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link active" href="/"><i class="fa fa-sign-out"></i> SignOut</a>
    </li>
  </ul>
</nav>