<br /><br />
<!-- Logo -->
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <img src="/images/logo.png" alt="myHotel" width="200">
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<!-- End Logo -->

<!-- Form Input -->
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <form action="/admin" method="get">
          <input type="text" name="username" placeholder="Username" class="form-control">
          <br />
          <input type="password" name="password" placeholder="Password" class="form-control">
          <br />
          <button type="submit" class="btn btn-sm btn-info form-control">Kirim</button>
      </form>
    </div>

    <div class="col-md-4"></div>
  </div>
<!-- EndForm Input -->