<br /><br /><br />

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/admin">
              <i class="fa fa-tachometer  fa-fw"></i>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/infoHotel">
              <i class="fa fa-building-o fa-fw"></i>
              Informasi Hotel
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/kamarHotel">
              <i class="fa fa-bed fa-fw"></i>
              Kelola Kamar Hotel
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      <div class="text-center">
        <h1 class="h2">Ubah-Data Kamar</h1>
        <br />
      </div>

      <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">
          <form action="" method="post">
            <input type="text" name="noKamar" id="namaHotel" class="form-control" placeholder="No Kamar">
            <br />
            <input type="text" name="jmlKasur"  class="form-control" placeholder="Jumlah Kasur">
            <br />
            <input type="text" name="fasilitas"  class="form-control" placeholder="Fasilitas">
            <br />
            <input type="text" name="harga"  class="form-control" placeholder="Harga">
            <br />
            <button type="submit" class="btn btn-sm btn-primary form-control">Submit</button>
          </form>
        </div>

        <div class="col-md-3"></div>
      </div>

    </main>
  </div>
</div>